body{
	#f2f2f2;
}

.nav .logo{
font-family: 'Tangerine', cursive;
	font-size: 40px;
		color: #fff;

}



.nav{


    background-color: #fff;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;





}

.navbar {

   opacity: 0.7;
	background: #000;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}


