
body{
      background: #262626;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
.swiper-container{
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
.swiper-slide{
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;

    }

.navbar{
background: rgba(0, 0, 0, 0.5);
}


.nav .logo{
font-family: 'Tangerine', cursive;
	font-size: 40px;
	color: #fff;

}


#fondo{
position: absolute;
z-index: 1;
min-width: 100%;
min-height: 100%;
-webkit-filter: brightness(50%);
filter: brightness(30%);
}

#titulo1{

position: relative;
z-index: 2;
top: 20em ;

}


footer{

	z-index: 4;
}
@media  screen 	and (min-width: 768px) {
	
	header.texto1{

font-size: 10px;


	}

}
